{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('shoppingcart') }}
{% endblock %}

{% block body %}

<header class="header">
  <div class="logo-section">
    <!-- Remplacez 'logo.png' par le chemin de votre image de logo réelle -->
    <a href="{{ path('homepage') }}">
      <img src="{{ asset('img/logo.png') }}" alt="Amiishop Logo">
    </a>
    <span>Amiishop</span>  
  </div>
  <div class="search-section">
    <input type="search" placeholder="Rechercher">
    <button type="submit">🔍</button>
  </div>
  <div class="user-section">
    <!-- Ici, ajoutez vos icônes utilisateur et panier, vous pouvez utiliser des images ou des icônes de polices -->
    <a href="{{ path('cart_index') }}">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
      <img src="{{ asset('img/sac.png') }}" alt="Votre image" class="utilisateur"/>
    </a>
    <a href="{{ path('my_account_index') }}">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
      <img src="{{ asset('img/utilisateur.png') }}" alt="Votre image" class="sac"/>
    </a>
  </div>
</header>

<a href="{{ path('homepage') }}">Clickez ici pour retourner à la page principale</a>

<div class="example-wrapper">

    
    {# {% if app.flashes('error') %} #}
    {% for message in app.flashes('error') %}
    <div>
        {{ message }}
    </div>
    {% endfor %}
    <hr>
    {# {% endif %} #}

    {% if cart|length > 0 %}

        {% for item in cart %}
            <div class="product">
                <h2>{{ item.product.title }}</h2>
                <img src="{{ item.product.attachment }}" alt="{{ item.product.title }}">
                <p>Price à l'unité: {{ item.product.price|number_format(2,',',' ') }}€</p>
                <p>Quantity: {{ item.quantity }}</p>
                <p>Total: {{ (item.totalPrice)|number_format(2,',',' ') }}€</p>
                <p>Created At: {{ item.product.createdAt|date('Y-m-d H:i:s') }} </p>
                <a href="{{ path('cart_remove',{id:item.product.id}) }}">Retirer totalement du panier</a>
                <a href="{{ path('cart_add',{id:item.product.id}) }}">Ajouter un autre au panier</a>
                <a href="{{ path('cart_decrease',{id:item.product.id}) }}">Diminuer quantité</a>
                <hr>
                
            </div>
        {% endfor %}

        <a href="{{ path('cart_validate_index') }}">Valider commande ! </a>
        <a href="{{ path('removeCart') }}">Retirer tout du panier</a>
        <p>Total du Panier : {{ total_price|number_format(2,',',' ') }}€</p>
    {% else %}
        <h2> Panier vide <h2>
    {% endif %}


</div>


{% endblock %}
