{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

<a href="{{ path('homepage') }}">Clickez ici pour retourner à la page principale</a>

<div class="example-wrapper">

    <a href="{{ path('removeCart') }}">Retirer tout du panier</a>

    {# {% if app.flashes('error') %} #}
    {% for message in app.flashes('error') %}
    <div>
        {{ message }}
    </div>
    {% endfor %}
    {# {% endif %} #}

    {% if cart|length > 0 %}

        {% for item in cart %}
            <div class="product">
                <h2>{{ item.product.title }}</h2>
                <img src="{{ item.product.attachment }}" alt="{{ item.product.title }}">
                <p>Price à l'unité: {{ item.product.price|number_format(2,',',' ') }}€</p>
                <p>Quantity: {{ item.quantity }}</p>
                <p>Total: {{ (item.totalPrice)|number_format(2,',',' ') }}€</p>
                <p>Created At: {{ item.product.createdAt|date('Y-m-d H:i:s') }} </p>
                <a href="{{ path('cart_remove',{id:item.product.id}) }}">Retirer totalement du panier</a>
                <a href="{{ path('cart_add',{id:item.product.id}) }}">Ajouter un autre au panier</a>
                <a href="{{ path('cart_decrease',{id:item.product.id}) }}">Diminuer quantité</a>
                <a href="{{ path('cart_validate_index') }}">Valider commande ! </a>
                
            </div>
        {% endfor %}
        <p>Total du Panier : {{ total_price|number_format(2,',',' ') }}€</p>
    {% else %}
        <h2> Panier vide <h2>
    {% endif %}


</div>


{% endblock %}
