{% extends 'base.html.twig' %}

{% block title %}Amiishop Cart{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('shoppingcart') }}
{% endblock %}

{% block body %}

<div class="example-wrapper">
    {% for message in app.flashes('error') %}
    <div>
        {{ message }}
    </div>
    {% endfor %}

    {% if cart|length > 0 %}
        <div class="items">
            {% for item in cart %}
                <div class="item">
                    <div class="infocontainer">
                        <p class="nameamiibo"><strong>{{ item.product.title }}</strong> - {{ item.product.price|number_format(2,',',' ') }} €</p>
                        <p class="createdat">Created At: {{ item.product.createdAt|date('Y-m-d H:i:s') }} </p>
                        <p class="info"><a href="{{ path('product_index',{id:item.product.id}) }}">more info</a></p>
                        <p class="quantity"> Quantity: <strong>{{ item.quantity }}</strong> 
                            <a class='i' href="{{ path('cart_add',{id:item.product.id}) }}"><img src="{{ asset('img/add.png') }}" alt="add"></a>
                            <a href="{{ path('cart_decrease',{id:item.product.id}) }}"><img src="{{ asset('img/minus.png') }}" alt="minus"></a>
                            <a href="{{ path('cart_remove',{id:item.product.id}) }}"><img src="{{ asset('img/delete.png') }}" alt="delete"></a>
                        </p>
                        <p class="total">Total: <strong>{{ (item.totalPrice)|number_format(2,',',' ') }}€</strong></p>
                    </div>
                    <div class="imagecontainer">
                        <img src="{{ asset('uploads/attachments/' ~ item.product.attachment) }}" 
                        onerror="this.onerror=null; this.src='{{ item.product.attachment }}';" 
                        alt="{{ item.product.title }}" 
                        class="product-image">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="action">
            <a href="{{ path('cart_validate_index') }}">Valider commande ! </a>
            <a href="{{ path('removeCart') }}">Retirer tout du panier</a>
            <p>Total du Panier : {{ total_price|number_format(2,',',' ') }}€</p>
        </div>
    {% else %}
        <h2 class="paniervide"> Panier vide <h2>
    {% endif %}


</div>


{% endblock %}
