{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

<a href="{{ path('homepage') }}">Clickez ici pour retourner à la page principale</a>

<div class="example-wrapper">

    <a href="{{ path('removeCart') }}">Retirer tout du panier</a>

    {% if cart|length > 0 %}
        {# {% set total = null %} #}
        {% for product in cart %}
            {# {% set total = total + (product.product.price * product.quantity) %} #}
            <div class="product">
                <h2>{{ product.title }}</h2>
                <img src="{{ product.attachment }}" alt="{{ product.title }}">
                <p>Price à l'unité: ${{ product.price }}</p>
                {# <p>Quantity: {{ product.quantity }}</p> #}
                {# <p>Total: {{ (total/100)|number_format(2,',','.') }}€</p> #}
                <p>Created At: {{ product.createdAt|date('Y-m-d H:i:s') }} </p>
                <a href="{{ path('cart_remove',{id:product.id}) }}">Retirer totalement du panier</a>
                <a href="{{ path('cart_add',{id:product.id}) }}">Ajouter un autre au panier</a>
                <a href="{{ path('cart_decrease',{id:product.id}) }}">Diminuer quantité</a>
            </div>
        {% endfor %}
    {% else %}
        <h2> Panier vide <h2>
    {% endif %}

</div>


{% endblock %}
