{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('shoppingcart') }}
{% endblock %}

{% block body %}

<div class="example-wrapper">

    
    {# {% if app.flashes %} #}
    {% for message in app.flashes('error') %}
    <div>
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('success') %}

        {{ message }}

    {% endfor %}
    {# {% endif %} #}

    {% if cart|length > 0 %}
        <div class="items">
            {% for item in cart %}
                <div class="item">
                    <div class="infocontainer">
                        <p>{{ item.product.title }}</p>
                        <p>Price à l'unité: {{ item.product.price|number_format(2,',',' ') }}€</p>
                        <p>Quantity: {{ item.quantity }}</p>
                        <p>Total: {{ (item.totalPrice)|number_format(2,',',' ') }}€</p>
                        <p>Created At: {{ item.product.createdAt|date('Y-m-d H:i:s') }} </p>
                        <p>
                            <a href="{{ path('cart_remove',{id:item.product.id}) }}">Retirer totalement du panier / </a>
                            <a href="{{ path('cart_add',{id:item.product.id}) }}">Ajouter un autre au panier / </a>
                            <a href="{{ path('cart_decrease',{id:item.product.id}) }}">Diminuer quantité</a>
                        </p>
                    </div>
                    <div class="imagecontainer">
                        <img src="{{ asset('uploads/attachments/' ~ item.product.attachment) }}" 
                        onerror="this.onerror=null; this.src='{{ item.product.attachment }}';" 
                        alt="{{ item.product.title }}" 
                        class="product-image">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="action">
            <a href="{{ path('cart_validate_index') }}">Valider commande ! </a>
            <a href="{{ path('removeCart') }}">Retirer tout du panier</a>
            <p>Total du Panier : {{ total_price|number_format(2,',',' ') }}€</p>
        </div>
    {% else %}
        <h2 class="paniervide"> Panier vide <h2>
    {% endif %}


</div>


{% endblock %}
