{# templates/product/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cartvalidate') }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Save changes</button>
    {{ form_end(form) }}

{% endblock %}
