{% extends 'base.html.twig' %}

{% block title %}Details Compte Utilisateur : {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="products-wrapper">

   {% for message in app.flashes('error') %}
    <div>
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('success') %}

        {{ message }}

    {% endfor %}
    <hr>
    <h2>User Information</h2>
    {% if user_found %}
        <p><strong>Email:</strong> {{ user_found.email }}</p>
        <p><strong>Username:</strong> {{ user_found.username }}</p>
        <p><strong>Profile Picture:</strong> {{ user_found.pfp }}</p>
        <hr>
        {# {{ dump(user_found) }} #}
    {% else %}
        <p>User not found.</p>
        <hr>
    {% endif %}
    {# {{ dump(products) }} #}

    {% if products|length == 0 %}
    <p>Aucun produit trouvé.</p>
    <hr>
    {% elseif products|length == 1 %}
    
        <p>Il y a un produit :</p>
        {% for product in products %}
            {# {{ dump(product) }} #}
            {% include 'product/body.html.twig' with {'product': product, 'user_id': user_id} only %}
            
        {% endfor %}
        <hr>
    {% else %}
    {# {{ dump(products) }} #}
        <p>Il y a plusieurs produits :</p>
        {% for product in products %}
            {# {{ dump(product) }} #}
            {% include 'product/body.html.twig' with {'product': product, 'user_id': user_id} only %}
        {% endfor %}
    {% endif %}

</div>
{% endblock %}
