{% extends 'base.html.twig' %}

{% block title %}Bonjour AccountController !{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block body %}
<header class="header">
  <div class="logo-section">
    <!-- Remplacez 'logo.png' par le chemin de votre image de logo réelle -->
    <a href="{{ path('homepage') }}">
      <img src="{{ asset('img/logo.png') }}" alt="Amiishop Logo">
    </a>
    <span>Amiishop</span>  
  </div>
  <div class="search-section">
    <input type="search" placeholder="Rechercher">
    <button type="submit">🔍</button>
  </div>
  <div class="user-section">
    <!-- Ici, ajoutez vos icônes utilisateur et panier, vous pouvez utiliser des images ou des icônes de polices -->
    <a href="{{ path('cart_index') }}">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
      <img src="{{ asset('img/sac.png') }}" alt="Votre image" class="utilisateur"/>
    </a>
    <a href="{{ path('my_account_index') }}">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
      <img src="{{ asset('img/utilisateur.png') }}" alt="Votre image" class="sac"/>
    </a>
  </div>
</header>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="products-wrapper">

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <hr>
    <a href="{{ path('homepage') }}">Retourner page principale</a>
    <hr>
    <div class="login-section">
        {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer les modifications</button>
    {{ form_end(form) }}
    </div>
    <hr>
    {# {{ dump(products) }} #}
    {% if products|length == 0 %}
    <p>Aucun produit trouvé.</p>
    <hr>
    {% elseif products|length == 1 %}
    
        <p>Il y a un produit :</p>
        {% for product in products %}
            {# {{ dump(product) }} #}
            {% include 'product/index.html.twig' with {'product': product} %}
        {% endfor %}
        <hr>
    {% else %}
    {# {{ dump(products) }} #}
        <p>Il y a plusieurs produits :</p>
        {% for product in products %}
            {# {{ dump(product) }} #}
            {% include 'product/index.html.twig' with {'product': product} %}
            <hr>
        {% endfor %}
    {% endif %}

    {% if invoices|length == 0 %}
    <p>Aucune facture trouvée.</p>
    <hr>
    {% elseif invoices|length == 1 %}
        <p>Il y a une facture :</p>
        <hr>
        {% for invoice in invoices %}
            <p><strong>Date de la transaction :</strong> {{ invoice.dateTransaction|date('d/m/Y H:i') }}</p>
            <p><strong>Prix total :</strong> {{ invoice.totalPrice }} €</p> {# Ajuster le formatage de la monnaie si nécessaire #}
            <p><strong>Adresse :</strong> {{ invoice.address }}</p>
            <p><strong>Ville :</strong> {{ invoice.town }}</p>
            <p><strong>Code postal :</strong> {{ invoice.postalCode }}</p>
        {% endfor %}
        <hr>
    {% else %}
        <p>Il y a plusieurs factures :</p>
        <hr>
        {% for invoice in invoices %}
            <p><strong>Date de la transaction :</strong> {{ invoice.dateTransaction|date('d/m/Y H:i') }}</p>
            <p><strong>Prix total :</strong> {{ invoice.totalPrice|number_format(2, '.', ',') }} €</p> {# Ajuster le formatage de la monnaie si nécessaire #}
            <p><strong>Adresse :</strong> {{ invoice.address }}</p>
            <p><strong>Ville :</strong> {{ invoice.town }}</p>
            <p><strong>Code postal :</strong> {{ invoice.postalCode }}</p>
            <hr>
        {% endfor %}
    {% endif %}



</div>
{% endblock %}
