{% extends 'base.html.twig' %}

{% block title %}Bonjour AccountController !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="products-wrapper">

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {# <hr>
    <a href="{{ path('homepage') }}">Retourner page principale</a>
    <hr> #}
    <div class="main-content">
         <img src="{{ asset('img/logo.png') }}" alt="Amiishop Logo" class="login-logo">
        <div class="login-section">
            {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.sold, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.pfp, {'attr': {'class': 'form-control'}}) }}
            </div>

<!-- Répétez pour les autres champs du formulaire -->

<button class="but" type="submit">Save changes</button>

{{ form_end(form) }}

        </div>
    </div>
    <hr>
    {# {{ dump(products) }} #}
    {% if products|length == 0 %}
    <p>Aucun produit trouvé.</p>
    <hr>
    {% elseif products|length == 1 %}
    
        <p>Il y a un produit :</p>
        {% for product in products %}
            {# {{ dump(product) }} #}
            {% include 'product/index.html.twig' with {'product': product} %}
        {% endfor %}
        <hr>
    {% else %}
    {# {{ dump(products) }} #}
        <p>Il y a plusieurs produits :</p>
        {% for product in products %}
            {# {{ dump(product) }} #}
            {% include 'product/index.html.twig' with {'product': product} %}
            <hr>
        {% endfor %}
    {% endif %}

    {% if invoices|length == 0 %}
    <p>Aucune facture trouvée.</p>
    <hr>
    {% elseif invoices|length == 1 %}
        <p>Il y a une facture :</p>
        <hr>
        {% for invoice in invoices %}
            <p><strong>Date de la transaction :</strong> {{ invoice.dateTransaction|date('d/m/Y H:i') }}</p>
            <p><strong>Prix total :</strong> {{ invoice.totalPrice }} €</p> {# Ajuster le formatage de la monnaie si nécessaire #}
            <p><strong>Adresse :</strong> {{ invoice.address }}</p>
            <p><strong>Ville :</strong> {{ invoice.town }}</p>
            <p><strong>Code postal :</strong> {{ invoice.postalCode }}</p>
        {% endfor %}
        <hr>
    {% else %}
        <p>Il y a plusieurs factures :</p>
        <hr>
        {% for invoice in invoices %}
            <p><strong>Date de la transaction :</strong> {{ invoice.dateTransaction|date('d/m/Y H:i') }}</p>
            <p><strong>Prix total :</strong> {{ invoice.totalPrice|number_format(2, '.', ',') }} €</p> {# Ajuster le formatage de la monnaie si nécessaire #}
            <p><strong>Adresse :</strong> {{ invoice.address }}</p>
            <p><strong>Ville :</strong> {{ invoice.town }}</p>
            <p><strong>Code postal :</strong> {{ invoice.postalCode }}</p>
            <hr>
        {% endfor %}
    {% endif %}



</div>
{% endblock %}