{% extends 'base.html.twig' %}

{% block title %}Amiiboss version zelda!{% endblock %}

{% block body %}
    <h2>Liste des Produit Zelda</h2>
    {% if userEmail %}
        <p><strong>Connecté en tant que :</strong>{{ userEmail }}</p>
        <a href="{{ path('app_logout') }}">Se Deconnecter</a>
    {% else %}
        <a href="{{ path('app_login') }}">Se Connecter</a>
        <a href="{{ path('register_index') }}">S'inscrire</a>
    {% endif %}
    {% for product in products %}
        <div class="product">
            <h3>{{ product.title }}</h3>
            <p><strong>ID :</strong> {{ product.id }}</p>
            <img src="{{ product.attachment }}" alt="{{ product.title }}">
            <p><strong>Prix :</strong> {{ product.price|number_format(2, ',', ' ') }}€</p>
            <p><strong>Série :</strong> {{ product.category.name }}</p>
            <a href="{{ path('product_index',{id:product.id}) }}">Détails</a>

        </div>
    {% else %}
        <p>Aucun produit trouvé.</p>
    {% endfor %}
{% endblock %}
