{% extends 'base.html.twig' %}

{% block title %}Amiiboss version zelda!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
    <div>
        {{ message }}
    </div>
    {% endfor %}
    <div class="cases">
        {% for product in products %}
            <a href="{{ path('product_show', {id: product.id}) }}">
                <div class="case">
                    <div class="up">
                        <img src="{{ product.attachment }}" alt="{{ product.title }}" title="{{ product.title }}">
                    </div>
                    <div class="down">
                        <p class="nom">{{ product.title }}</p>
                        <p class="theme">{{ product.category.name }}</p>
                        <p class="prix">{{ product.price|number_format(2, ',', ' ') }} €</p>
                    </div>
                </div>
            </a>
        {% else %}
            <p>Aucun produit trouvé.</p>
        {% endfor %}
    </div>
{% endblock %}

{# <p><strong>Connecté en tant que :</strong>{{ userEmail }}</p>
        <hr>
        <a href="{{ path('app_logout') }}">Se Deconnecter</a>
        <a href="{{ path('sell_index') }}">Vendre</a>
        <a href="{{ path('cart_index') }}">Mon Panier</a>
        <a href="{{ path('my_account_index') }}">Mon Compte</a>
        <hr> #}
