{% extends 'base.html.twig' %}

{% block title %}Amiiboss version zelda!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}

    <div class="baniere">
        <img src="https://img.lemde.fr/2017/03/02/90/0/1920/960/1440/720/60/0/b94faa5_4327-1h5b0kh.88x60nqaor.jpg" alt="baniere">
    </div>
    <p class"titletheme">The Legend of Zelda Amiibo</p>
    {% for message in app.flashes('error') %}
    <div>
        {{ message }}
    </div>
    {% endfor %}
    <div class="cases">
        {% for product in products %}
            <div class="case">
                <a href="{{ path('product_index',{id:product.id}) }}">
                    <div class="up">
                        <img src="{{ product.attachment }}" alt="{{ product.title }}" title="{{ product.title }}">
                    </div>
                    <div class="down">
                        <p class="nom">{{ product.title }}</p>
                        <p class="theme">{{ product.category.name }}</p>
                        <p class="prix">{{ product.price|number_format(2, ',', ' ') }} €</p>
                    </div>
                </a>
            </div>            
        {% else %}
            <p>Aucun produit trouvé.</p>
        {% endfor %}
    </div>
{% endblock %}

{# <p><strong>Connecté en tant que :</strong>{{ userEmail }}</p>
        <hr>
        <a href="{{ path('app_logout') }}">Se Deconnecter</a>
        <a href="{{ path('sell_index') }}">Vendre</a>
        <a href="{{ path('cart_index') }}">Mon Panier</a>
        <a href="{{ path('my_account_index') }}">Mon Compte</a>
        <hr> #}
