{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block body %}
<header class="header">
  <div class="logo-section">
    <!-- Remplacez 'logo.png' par le chemin de votre image de logo réelle -->
    <a href="{{ path('homepage') }}">
      <img src="{{ asset('img/logo.png') }}" alt="Amiishop Logo">
    </a>
    <span>Amiishop</span>  
  </div>
  <div class="search-section">
    <input type="search" placeholder="Rechercher">
    <button type="submit">🔍</button>
  </div>
  <div class="user-section">
    <!-- Ici, ajoutez vos icônes utilisateur et panier, vous pouvez utiliser des images ou des icônes de polices -->
    <a href="{{ path('cart_index') }}">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
      <img src="{{ asset('img/sac.png') }}" alt="Votre image" class="utilisateur"/>
    </a>
    <a href="{{ path('my_account_index') }}">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
      <img src="{{ asset('img/utilisateur.png') }}" alt="Votre image" class="sac"/>
    </a>
  </div>
</header>
    {# <h1>Register</h1> #}
  <div class="main-content">
    <div class="login-section">
      <img src="{{ asset('img/logo.png') }}" alt="Amiishop Logo" class="login-logo">
      <h2 class="login-title">Amiishop</h2>
      <!-- Ajoutez ici le formulaire de connexion -->
      {{ form_start(registrationForm) }}
        {{ form_errors(registrationForm) }}

        {{ form_row(registrationForm.username, {
            'label': false,
            'attr': {'class': 'form-control', 'placeholder': 'Username'}
        }) }}
        {{ form_row(registrationForm.email, {
            'label': false,
            'attr': {'class': 'form-control', 'placeholder': 'Email'}
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            'label': false,
            'attr': {'class': 'form-control', 'placeholder': 'Password'}
        }) }}
        <div class="form-agree-terms">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <button type="submit" class="but">Register</button>
      {{ form_end(registrationForm) }}


    </div>
  <div class="illustration-section">
    <!-- Ajoutez ici votre illustration -->
    <img src="{{ asset('img/people.png') }}" alt="Illustration" class="logo2">
  </div>
</div>
</div>

    {# {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }} #}

        {# <button type="submit" class="btn">Register</button> #}
    {# {{ form_end(registrationForm) }} #}
  <div class="lastbut">
    <a href="{{ path('app_login') }}">Clickez ici si vous avez un compte...</a>
    <a href="{{ path('homepage') }}">Clickez ici pour retourner à la page principale</a>
  </div>
{% endblock %}
