{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block body %}
    <header class="header">
  <div class="logo-section">
    <!-- Remplacez 'logo.png' par le chemin de votre image de logo réelle -->
    <img src="{{ asset('img/logo.png') }}" alt="Amiishop Logo">
    <span>Amiishop</span>
  </div>
  <div class="search-section">
    <input type="search" placeholder="Rechercher">
    <button type="submit">🔍</button>
  </div>
  <div class="user-section">
    <!-- Ici, ajoutez vos icônes utilisateur et panier, vous pouvez utiliser des images ou des icônes de polices -->
    <a href="url-de-la-page-de-destination.html">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
      <img src="{{ asset('img/sac.png') }}" alt="Votre image" class="utilisateur"/>
    </a>
    <a href="url-de-la-page-de-destination.html">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
      <img src="{{ asset('img/utilisateur.png') }}" alt="Votre image" class="sac"/>
    </a>
  </div>
</header>
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    <a href="{{ path('app_login') }}">Clickez ici si vous avez un compte...</a>
    <a href="{{ path('homepage') }}">Clickez ici pour retourner à la page principale</a>
{% endblock %}
