{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('product') }}
{% endblock %}

{% block body %}

<header class="header">
  <div class="logo-section">
    <!-- Remplacez 'logo.png' par le chemin de votre image de logo réelle -->
    <img src="{{ asset('img/logo.png') }}" alt="Amiishop Logo">
    <span>Amiishop</span>
  </div>
  <div class="search-section">
    <input type="search" placeholder="Rechercher">
    <button type="submit">🔍</button>
  </div>
  <div class="user-section">
    <!-- Ici, ajoutez vos icônes utilisateur et panier, vous pouvez utiliser des images ou des icônes de polices -->
    <a href="url-de-la-page-de-destination.html">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
    <a href="{{ path('cart_add',{id:product.id}) }}"> 
      <img src="{{ asset('img/sac.png') }}" alt="Votre image" class="utilisateur"/>
    </a>
    </a>
    <a href="url-de-la-page-de-destination.html">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
     <a href="{{ path('my_account_index') }}">
      <img src="{{ asset('img/utilisateur.png') }}" alt="Votre image" class="sac"/>
      </a>
    </a>
  </div>
</header>

    <h2>Détails du Produit</h2>

    {% if product %}
        <div class="product">
            {# {{dump(product)}} #}
            <h3>{{ product.title }}</h3>
            <img src="{{ product.attachment }}" alt="{{ product.title }}">
            <p><strong>Description :</strong> {{ product.content }}</p>
            <p><strong>Prix :</strong> {{ product.price|number_format(2, ',', ' ') }}€</p>
            <p><strong> En Stock :</strong> {{ product.stock.quantity }}</p>
            <p><strong>Date de Sortie :</strong> {{ product.createdAt|date('d/m/Y')}}</p>
            <p><strong>Nom de l'Auteur :</strong> {{ product.author.username }}</p>
            <p><strong>Série :</strong> {{ product.category.name }}</p>
            <p><strong>Type: {{ product.type }}<strong></p>
            <p><strong>Character: {{ product.gameCharacter}}<strong></p>

            {% if product.author.id == user_id %}
            <a href="{{ path('edit_product',{id:product.id}) }}">Editer produit</a>
            <a href="{{ path('homepage') }}">retourner page principale</a>
            {% else %}
            <hr>
            <a href="{{ path('account_user_index',{id:product.author.id}) }}">Info auteur</a>
            <a href="{{ path('cart_add',{id:product.id}) }}">Ajouter au panier</a>
            <a href="{{ path('homepage') }}">Retourner page principale</a>
            <hr>
            {% endif %}
            
        </div>
    {% else %}
        <p>Aucun produit trouvé.</p>
    {% endif %}
{% endblock %}

