{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('product') }}
{% endblock %}

{% block body %}

<header class="header">
  <div class="logo-section">
    <!-- Remplacez 'logo.png' par le chemin de votre image de logo réelle -->
    <a href="{{ path('homepage') }}">
      <img src="{{ asset('img/logo.png') }}" alt="Amiishop Logo">
    </a>
    <span>Amiishop</span>  
  </div>
  <div class="search-section">
    <input type="search" placeholder="Rechercher">
    <button type="submit">🔍</button>
  </div>
  <div class="user-section">
    <!-- Ici, ajoutez vos icônes utilisateur et panier, vous pouvez utiliser des images ou des icônes de polices -->
    <a href="{{ path('cart_index') }}">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
      <img src="{{ asset('img/sac.png') }}" alt="Votre image" class="utilisateur"/>
    </a>
    <a href="{{ path('my_account_index') }}">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
      <img src="{{ asset('img/utilisateur.png') }}" alt="Votre image" class="sac"/>
    </a>
  </div>
</header>


<div class="main-content">
    <img src="{{ product.attachment }}" alt="{{ product.title }}" class="product-image">
    
    <div class="login-section">
        <div class="product-details">
            <h3>{{ product.title }}</h3>
            <p><strong>Description :</strong> {{ product.content }}</p>
            <p><strong>Prix :</strong> {{ product.price|number_format(2, ',', ' ') }}€</p>
            <p><strong>En Stock :</strong> {{ product.stock.quantity }}</p>
            <p><strong>Date de Sortie :</strong> {{ product.createdAt|date('d/m/Y') }}</p>
            <p><strong>Nom de l'Auteur :</strong> {{ product.author.username }}</p>
            <p><strong>Série :</strong> {{ product.category.name }}</p>
            <p><strong>Type :</strong> {{ product.type }}</p>
            <p><strong>Character :</strong> {{ product.gameCharacter }}</p>

            {% if product.author.id == user_id %}
              <div class="info_admin">
                <a href="{{ path('edit_product', {id: product.id}) }}" class="btn">Editer produit</a>
                <a href="{{ path('homepage') }}" class="btn">Retourner à la page principale</a>
              </div>
            {% else %}

              <div class="info">
                <a href="{{ path('account_user_index', {id: product.author.id}) }}" class="btn">Info auteur</a>
                <a href="{{ path('cart_add', {id: product.id}) }}" class="btn">Ajouter au panier</a>
                {# <a href="{{ path('homepage') }}" class="btn">Retourner à la page principale</a> #}
              </div>

            {% endif %}
        </div>
    </div>
</div>

  {% if product %}
      <div class="product">

          {% if product.author.id == user_id %}

          {% else %}
        
          {% endif %}
          
      </div>
  {% else %}
      <p>Aucun produit trouvé.</p>
  {% endif %}
{% endblock %}

