{% extends 'base.html.twig' %}

{% block title %}Hello SellController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('sell') }}
{% endblock %}

{% block body %}

<header class="header">
  <div class="logo-section">
    <!-- Remplacez 'logo.png' par le chemin de votre image de logo réelle -->
    <img src="{{ asset('img/logo.png') }}" alt="Amiishop Logo">
    <span>Amiishop</span>
  </div>
  <div class="search-section">
    <input type="search" placeholder="Rechercher">
    <button type="submit">🔍</button>
  </div>
  <div class="user-section">
    <!-- Ici, ajoutez vos icônes utilisateur et panier, vous pouvez utiliser des images ou des icônes de polices -->
    <a href="url-de-la-page-de-destination.html">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
      <img src="{{ asset('img/sac.png') }}" alt="Votre image" class="utilisateur"/>
    </a>
    <a href="url-de-la-page-de-destination.html">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
      <img src="{{ asset('img/utilisateur.png') }}" alt="Votre image" class="sac"/>
    </a>
  </div>
</header>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Submit</button>
{{ form_end(form) }}
<a href="{{ path('homepage') }}">Clickez ici pour retourner à la page principale</a>
{% endblock %}
