{% extends 'base.html.twig' %}

{% block title %}Hello SellController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('sell') }}
{% endblock %}

{% block body %}

    <div class="main-content">
    <img src="{{ asset('img/logo.png') }}" alt="Amiishop Logo" class="login-logo">
    <div class="login-section">
    {{ form_start(form, {'attr': {'enctype':'multipart/form-data'}}) }}

    <div class="form-group">
        {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_row(form.content, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_row(form.price, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
       {{ form_row(form.releaseDate, {
        'label': 'Release Date',
        'attr': {'class': 'form-control'}
    }) }}
    </div>

    {# {{ form_row(registrationForm.plainPassword, {
        'label': false,
        'attr': {'class': 'form-control', 'placeholder': 'Password'}
    }) }} #}

    {# <div class="form-group">
        {{ form_row(form.attachment, {'attr': {'class': 'form-control'}}) }}
    </div> #}
    <div class="form-group">
            {{ form_row(form.attachmentFile, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_row(form.type, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_row(form.game_character, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
    </div>

    <button type="submit" class="but">Submit</button>

    {{ form_end(form) }}

    {# <a href="{{ path('homepage') }}" class="but">Clickez ici pour retourner à la page principale</a> #}
    </div>
    </div>
{% endblock %}
