<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="header">
    <div class="logo-section">
        <a href="{{ path('homepage') }}">
            <img src="{{ asset('img/logo.png') }}" alt="Amiishop Logo">
        </a>
        <span>Amiishop</span>  
    </div>
    <div class="user-section">
    {% if user_id %}
        <a href="{{ path('my_account_index') }}">
            <img src="{{ asset('img/utilisateur.png') }}" alt="Amiishop Logo" class="user">
        </a>
        <a href="{{ path('cart_index') }}">
            <img src="{{ asset('img/sac.png') }}" alt="bag" class="bag">
        </a>
        <a href="{{ path('app_logout') }}">
            <img src="{{ asset('img/deconnecter.png') }}" alt="log_out" class="log_out">
        </a>
        <a href="{{ path('sell_index') }}">S
            <img src="{{ asset('img/vente.png') }}" alt="sell" class="sell">
        </a>
    {% else %}
        <a href="{{ path('app_login') }}">LOGIN</a>
        <a href="{{ path('register_index') }}">REGISTER</a>
    {% endif %}
    </div>

</header>
{% block body %}{% endblock %}
<div class="body-container">
</div>
<div class="footer">
    <img  class="logofooter" src="{{ asset('img/logo.png') }}" alt="Amiishop Logo">
    <p class="textfooter">Amiishop</p>
    <div class="bar"></div>
    <div class="footer_theme">
        <p>navigation</p>
        <p>themes</p>
        <p>Contact us</p>
    </div>
</div>
</body>
</html>
