<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="header">
  <div class="logo-section">
    <a href="{{ path('homepage') }}">
      <img src="{{ asset('img/logo.png') }}" alt="Amiishop Logo">
    </a>
    <span>Amiishop</span>  
  </div>
  <div class="user-section">
    <!-- Ici, ajoutez vos icônes utilisateur et panier, vous pouvez utiliser des images ou des icônes de polices -->
    <a href="{{ path('cart_index') }}">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
      <img src="{{ asset('img/sac.png') }}" alt="Votre image" class="utilisateur"/>
    </a>
    <a href="{{ path('my_account_index') }}">
      <!-- Insérez le chemin de votre image à la place de "chemin/vers/votre/image.jpg" -->
      <img src="{{ asset('img/utilisateur.png') }}" alt="Votre image" class="sac"/>
    </a>
  </div>
</header>
{% block body %}{% endblock %}
</body>
</html>
